@use "styles" as *;

.productPage {
  padding-top: 50px;

  .productPage__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include maxWidth(767px) {
      flex-direction: column;
    }
  }

  .productPage__imageDiv {
    width: 47%;

    @include maxWidth(767px) {
      width: 80%;
    }

    @include maxWidth(575px) {
      width: 100%;
    }
  }

  .productPage__image {
    width: 100%;
  }

  .productPage__content {
    width: 50%;

    @include maxWidth(767px) {
      width: 100%;
    }
  }

  .productPage__head {
    padding-bottom: 15px;
  }

  .productPage__ratings,
  .productPage__price,
  .productPage__status,
  .productPage__description {
    padding: 15px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .productPage__reviews {
    margin-left: 10px;
  }

  .productPage__priceCart {
    display: flex;
    align-items: center;
  }

  .productPage__priceCartBtn {
    margin-left: 20px;
    padding: 0.6rem 1rem;

    @include maxWidth(575px) {
      width: calc(100% - 100px);
    }
  }

  .productPage__statusStock {
    &.fail {
      color: rgb(196, 26, 26);
    }
  }

  .productPage__statusStock,
  .productPage__submitSeller {
    font-weight: bold;
    margin-left: 10px;
  }

  .productPage__description {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .productPage__descriptionBody {
    margin-top: 10px;
  }

  .productPage__submit {
    padding: 15px 0;
  }

  .productPage__submitBtnDiv {
    margin-top: 30px;
  }

  .productPage__submitBtn {
    padding: 1rem 1.5rem;

    @include maxWidth(575px) {
      width: 100%;
    }
  }
}
