@use "styles" as *;

.header {
  background-color: color(dark);

  @include maxWidth(991px) {
    position: sticky;
    top: 0;
    z-index: 6;
  }

  .header__container {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;

    @include maxWidth(767px) {
      padding: 20px 0;

      &.animate {
        padding: 10px 0;
      }
    }
  }

  .header__brand {
    font-size: 2rem;

    @include maxWidth(767px) {
      font-size: 1.4rem;
    }

    a {
      color: color(white);
    }
  }

  .header__brandColored {
    color: color(pink);
    font-style: italic;
    font-size: 1rem;
    margin-left: -8px;

    @include maxWidth(767px) {
      font-size: 0.7rem;
      margin-left: -3px;
    }
  }

  .header__navigation {
    width: calc(100% / 3 * 2);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include maxWidth(767px) {
      position: fixed;
      width: 50%;
      height: calc(100vh - 64px);
      top: 64px;
      right: -100%;
      transition: 0.3s ease-in-out;
      background-color: color(dark);
      flex-direction: column;
      padding: 30px 15px;
      justify-content: flex-start;
      z-index: 3;

      &.show {
        right: 0;
      }

      &.animate {
        height: calc(100vh - 50px);
        top: 44px;
      }

      .header__cart {
        display: none;
      }
    }

    @include maxWidth(575px) {
      width: 70%;
    }
  }

  .header__loginCart {
    display: flex;
    align-items: center;

    @include maxWidth(767px) {
      width: 100%;
    }
  }

  .header__cartText {
    color: color(white);
  }

  .header__cartNumber {
    background-color: color(pink);
    color: color(dark);
    border-radius: 50%;
    margin-left: 7px;
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
  }

  .header__user {
    position: relative;
    margin-left: 15px;
    display: flex;
    align-items: center;

    @include maxWidth(767px) {
      margin: 0;
      width: 100%;
    }
  }

  .header__userDetails {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .header__userAvatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .header__userArrow {
    display: flex;
    color: color(white);

    svg {
      transition: 0.3s;
    }

    &.rotate {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .header__userSubMenu {
    position: absolute;
    left: 0;
    top: 120%;
    background-color: color(white);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: none;
    width: 120%;
    flex-direction: column;

    @include maxWidth(767px) {
      width: 100%;
      top: 160%;
    }

    &.submenu {
      display: flex;
    }

    .link {
      margin: 10px 0;
    }

    a {
      width: 100%;
      padding: 5px 0;
      text-align: center;
      display: block;

      &::before {
        width: 100%;
        padding: 5px 0;
      }
    }
  }

  .header__userName {
    color: color(white);
  }

  .header__toggle {
    display: flex;
    align-items: center;

    @include minWidth(768px) {
      display: none;
    }
  }

  .header__hamburger {
    display: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    margin-left: 10px;

    @include maxWidth(767px) {
      display: flex;
    }
  }
}
