@use "styles" as *;

.searchForm {
  display: flex;
  align-items: center;
  width: 40%;
  height: 38px;

  @include maxWidth(767px) {
    width: 100%;
    margin-bottom: 15px;
  }

  .searchForm__formGroup {
    display: flex;
    width: 85%;
    height: 100%;
  }

  .searchForm__formGroupInput {
    padding: 0.5rem 1rem;
    border: none;
    width: 100%;
    background-color: color(darkWhite);
    outline: none;
    border-radius: 5px 0 0 5px;
    transition: 0.3s ease-in-out;

    &:focus {
      background-color: color(white);
    }
  }

  .searchForm__formSubmit {
    height: 100%;
    width: 15%;
  }

  .searchForm__formSubmitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    border-radius: 0 5px 5px 0;
  }
}
