@use "../../styles" as *;

.cart {
  .cart__header {
    margin: 40px 0 20px;
  }

  .cart__body {
    display: flex;
    justify-content: space-between;

    @include maxWidth(991px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .cart__content {
    width: 70%;

    @include maxWidth(991px) {
      width: 100%;
    }
  }
}
