@use "styles" as *;

.link {
  overflow: hidden;
  display: inline-block;

  .link__item {
    color: black;
    text-decoration: none;
    position: relative;

    &:before {
      content: attr(data-name);
      //   width: 0;
      position: absolute;
      top: 0;
      left: -100%;
      color: color(pink);
      transition: 0.2s;
    }

    &:hover {
      &:before {
        left: 0;
      }
    }
  }

  &.btn {
    margin-left: 15px;

    @include maxWidth(767px) {
      margin-left: 0;
      width: 50%;
    }

    @include maxWidth(575px) {
      width: 100%;
    }

    .link__item {
      // @extend .btn;

      display: inline-block;
      padding: 0.7rem 1rem;
      text-align: center;

      @include maxWidth(767px) {
        width: 100%;
      }

      &:before {
        content: none;
      }
    }
  }
}
