@use "styles" as *;

.forgotPassword {
  margin-top: 50px;

  .forgotPassword__formGroup {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  .forgotPassword__formLabel {
    font-weight: 600;
    margin-bottom: 10px;
  }

  .forgotPassword__formGroupSub {
    width: 100%;
    display: flex;

    img {
      width: 40px;
      border-radius: 50%;
      margin-right: 15px;
    }
  }

  .forgotPassword__formInput {
    padding: 0.8rem;
    position: relative;
    border: 1px solid color(darkPink);
    background-color: color(darkWhite);
    border-radius: 5px;
    outline: none;
    width: 100%;
    transition: 0.3s ease-in-out;

    &.avatar {
      cursor: pointer;
      &:hover {
        border: 1px solid color(pink);
        background-color: color(white);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
      }
    }

    &:focus {
      border: 1px solid color(pink);
      background-color: color(white);
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    }
  }

  .forgotPassword__forgotPwd {
    text-align: right;
    margin: 20px 0;

    a {
      color: black;
      font-weight: 600;
    }
  }

  .forgotPassword__submitBtn {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .forgotPassword__newUser {
    text-align: center;
    margin: 20px 0;

    a {
      color: black;
      font-weight: 600;
    }
  }
}
