@use "../../../../styles" as *;

.cartCard {
  border: 1px solid color(lightDark);
  transition: 0.3s ease-in-out;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 2px 5px 10px lighten(color(dark), 10%);
  }

  .cartCard__container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 10px auto;

    @include maxWidth(767px) {
      width: 95%;
    }
  }

  .cartCard__image {
    width: 130px;

    @include maxWidth(767px) {
      width: 90px;
    }

    @include maxWidth(575px) {
      width: 50px;
    }
  }

  .cartCard__info,
  .cartCard__price {
    width: 20%;
  }

  .cartCard__price {
    @include maxWidth(767px) {
      width: 12%;
    }
  }

  .cartCard__info,
  .cartCard__price,
  .cartCard__delete {
    display: flex;
    align-items: center;
  }

  .cartCard__info {
    a {
      color: black;
      font-weight: 600;

      &:hover {
        color: color(darkPink);
      }
    }
  }

  .cartCard__price {
    font-weight: 600;
    color: color(darkPink);
  }

  .cartCard__delete {
    svg {
      font-size: 1.5rem;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        color: color(darkPink);
      }
    }
  }
}
