@use "styles" as *;

.cartItem {
  margin-bottom: 20px;
  padding: 10px 30px;
  border: 1px solid color(lightDark);
  transition: 0.3s ease-in-out;

  @include maxWidth(575px) {
    padding: 10px 15px;
  }

  &:hover {
    box-shadow: 2px 5px 10px lighten(color(dark), 10%);
  }

  .cartItem__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cartItem__image {
    width: 100px;

    @include maxWidth(767px) {
      width: 90px;
    }

    @include maxWidth(575px) {
      width: 50px;
    }
  }

  .cartItem__name {
    width: 40%;
    text-align: center;

    @include maxWidth(767px) {
      width: 25%;
    }

    a {
      color: black;
      transition: 0.3s ease-in-out;

      &:hover {
        color: color(darkPink);
      }
    }
  }

  .cartItem__amount {
    display: flex;
    align-items: center;

    @include maxWidth(767px) {
      font-size: 0.9rem;
    }
  }

  .cartItem__amountBold {
    font-weight: 600;
  }
}
