@use "styles" as *;

.register {
  margin-top: 50px;

  .register__form {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 3px rgba(61, 59, 59, 0.3);
    padding: 2rem 1rem;
    border-radius: 5px;
  }

  .register__formGroup {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  .register__formLabel {
    font-weight: 600;
    margin-bottom: 10px;
  }

  .register__formGroupSub {
    width: 100%;
    display: flex;

    img {
      width: 40px;
      border-radius: 50%;
      margin-right: 15px;
    }
  }

  .register__formInput {
    padding: 0.8rem;
    position: relative;
    border: 1px solid color(darkPink);
    background-color: color(darkWhite);
    border-radius: 5px;
    outline: none;
    width: 100%;
    transition: 0.3s ease-in-out;

    &.avatar {
      cursor: pointer;
      &:hover {
        border: 1px solid color(pink);
        background-color: color(white);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
      }
    }

    &::-webkit-file-upload-button {
      @extend .btn;

      position: absolute;
      background-color: color(pink);
      border: none;
      outline: none;
      cursor: pointer;
      //   padding: 0.5rem;
      right: -5px;
      border-radius: 0 5px 5px 0;
      top: 0;
      height: 100%;
    }

    &:focus {
      border: 1px solid color(pink);
      background-color: color(white);
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    }
  }

  .register__forgotPwd {
    text-align: right;
    margin: 20px 0;

    a {
      color: black;
      font-weight: 600;
    }
  }

  .register__submitBtn {
    @extend .btn;

    display: inline-block;
    width: 100%;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .register__newUser {
    text-align: center;
    margin: 20px 0;

    a {
      color: black;
      font-weight: 600;
    }
  }
}
